In [1]:
import json
import numpy as np 
import pandas as pd
from glob import glob   
import shutil
import os
import matplotlib.pyplot as plt
import PIL.Image as pilimg
import argparse
import sys
from tqdm import tqdm
from decimal import Decimal
import pickle

In [14]:
tr=pd.read_pickle('feature-extractor-output/train_dataset.pickle')
val=pd.read_pickle('feature-extractor-output/validation_dataset.pickle')

In [3]:
non_img_features_col=list(tr.columns[1:21])
img_features_col=list(tr.columns[21:])

In [6]:
ts=pd.read_pickle('feature-extractor-output/test_dataset.pickle')

# Normalization

In [7]:
X_test=ts.iloc[:, 1:]
col_features=list(X_test.columns)

In [8]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()

def Normalization(df):
    col_features=list(df.columns)
    fitted = std_scaler.fit(df)
    features = std_scaler.transform(df)
    features_normalized = pd.DataFrame(features, columns=col_features)
    return features_normalized

In [10]:
X_test_scaled=Normalization(X_test)
X_test_scaled=X_test_scaled.astype(float)

In [21]:
X_test_scaled.set_index(ts.assembly_name).reset_index().to_excel('output/excel/raw_test_dt.xlsx',index=False)

In [15]:
val

,assembly_name,ConeSurfaceType,CylinderSurfaceType,EllipticalConeSurfaceType,EllipticalCylinderSurfaceType,NurbsSurfaceType,PlaneSurfaceType,SphereSurfaceType,TorusSurfaceType,xx,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,22057_4947db57,4,13,0,0,84,22,0,22,9596.968393776323864585720002651214599609375,...,0.100315,0.765789,0.699494,0.014076,0.718475,0.169887,0.124306,0.046764,0.468679,0.098382
1,34103_6635d58e,14,59,0,0,9,66,0,1,1.89582513098834981590812276408541947603225708...,...,0.021017,0.000000,0.558243,0.079836,0.751304,0.009114,0.922297,0.020852,0.000000,0.794662
2,44400_388ed3d0,0,20,0,0,0,96,0,0,2936747.5552631602622568607330322265625,...,0.581119,0.000000,0.107407,0.043610,0.430167,0.481306,4.333909,0.742294,0.952765,1.397724